.contact-container {
  background-color: var(--lighter-blueish-gray);
  /* margin-top: 100px; */
  text-align: center;
  /* border: 1px solid black; */
  padding-top: 80px;
  padding-bottom: 80px;
  /* width: 90%; */
  h2 {
    /* margin-top: 100px; */
    margin-bottom: 15px;
    color: var(--darker-blueish-gray);
  }
  hr {
    /* visibility: hidden; */
    text-align: center;
    margin: 0 auto;
    width: 10%;
  }
  .contact-outer-info {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: small;
    color: var(--dark-blueish-gray);
  }
  .contact-flex {
    .contact-flex-item {
      // opacity: 0;
      .contact-address-header {
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 18px;
        color: var(--dark-blueish-gray);
      }
      .contact-address-body {
        color: var(--dark-blueish-gray);
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
      }
      .contact-mail-header {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 18px;
        color: var(--dark-blueish-gray);
      }
      .contact-mail-body {
        color: var(--darker-aquamarine) !important;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-decoration: none !important;
        .mail {
          color: var(--darker-aquamarine);
        }
        .mail:hover {
          color: var(--darker-blueish-gray);
        }
      }
      .contact-phone-header {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 18px;
        color: var(--dark-blueish-gray);
      }
      .contact-phone-body {
        color: var(--dark-blueish-gray);
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-bottom: 50px;
      }
    }
  }
  .contact-form {
    /* text-align: center; */
    /* border: 1px solid black; */
    width: 100%;
    /* text-align:right; */
    .form-input {
      width: 90%;
      height: 35px;
      border-radius: 3px;
      padding-left: 10px;
      margin-bottom: 20px;
      border: 1px solid var(--lighter-blueish-gray);
      /* text-align: center; */
    }
    #form-name::placeholder {
      font-family: 'Roboto', sans-serif;
    }
    #form-email::placeholder {
      font-family: 'Roboto', sans-serif;
    }
    #form-subject::placeholder {
      font-family: 'Roboto', sans-serif;
    }
    #form-message::placeholder {
      font-family: 'Roboto', sans-serif;
      /* padding-top: 10px; */
    }
    #form-message {
      height: 230px;
      width: 90%;
      padding-top: 10px;
    }
    .contact-form-btn {
      font-size: 16px;
      /* font-family:'Roboto', sans-serif; */
      color: white;
      background-color: var(--darker-aquamarine);
      border: 1px solid var(--darker-aquamarine);
      width: 160px;
      height: 40px;
      border-radius: 4px;
      font-weight: 700;
      cursor: pointer;
      .icon {
        margin-right: 4px;
      }
    }
    .contact-form-btn:hover {
      background-color: var(--darker-blueish-gray);
      .icon {
        display: none;
      }
    }
  }
  #greet-user {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 20px;
    color: var(--darker-aquamarine);
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #input-error {
    margin-top: 20px;
    color: red;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 987px) {
  .contact-container {
    .contact-flex {
      width: 300px;
      border: 1px solid black;
      margin-top: 50px;
      margin-left: 200px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .contact-flex-item {
        .contact-address-header {
          margin-top: 0px;
        }
        .contact-mail-header {
          margin-top: 0px;
        }
        .contact-phone-header {
          margin-top: 0px;
        }
        .contact-phone-body {
          margin-bottom: 0px;
        }
      }
    }
  }
}
@media only screen and (min-width: 987px) and (max-width: 1200px) {
  .contact-container {
    .contact-flex {
      width: 400px;
      margin-top: 50px;
      margin-left: 250px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .contact-flex-item {
        .contact-address-header {
          margin-top: 0px;
        }
        .contact-mail-header {
          margin-top: 0px;
        }
        .contact-phone-header {
          margin-top: 0px;
        }
        .contact-phone-body {
          margin-bottom: 0px;
        }
      }
    }
    .contact-form {
      width: 100%;
      position: relative;
      .name-div {
        width: 175.5px;
        margin-left: 280px;
      }
      .email-div {
        width: 175.5px;
        position: absolute;
        left: 470px;
        top: 0px;
      }
      .number-div,
      .subject-div,
      .message-div {
        width: 385px;
        margin-left: 270px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .contact-container {
    .contact-flex {
      width: 450px;
      margin-top: 50px;
      margin-left: 350px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .contact-flex-item {
        .contact-address-header {
          margin-top: 0px;
        }
        .contact-mail-header {
          margin-top: 0px;
        }
        .contact-phone-header {
          margin-top: 0px;
        }
        .contact-phone-body {
          margin-bottom: 0px;
        }
      }
    }
    .contact-form {
      width: 100%;
      position: relative;
      .name-div {
        width: 227.5px;
        margin-left: 355px;
      }
      .email-div {
        width: 227.5px;
        position: absolute;
        left: 585px;
        top: 0px;
      }
      .number-div,
      .subject-div,
      .message-div {
        width: 485px;
        margin-left: 340px;
        // border: 1px solid red;
      }
    }
  }
}
