.page {
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding-bottom: 50px;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}
.App {
  background-color: var(--darker-blueish-gray);
  padding-top: 50px;
}
.noPadBody {
  padding-top: 0 !important;
}
@media only screen and (min-width: 767px) and (max-width: 987px) {
  .page {
    width: 720px;
  }
}
@media only screen and (min-width: 987px) and (max-width: 1200px) {
  .page {
    margin: 0 auto;
    width: 930px;
    height: auto;
    padding-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1200px) {
  .page {
    margin: 0 auto;
    width: 1140px;
    height: auto;
    padding-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
  }
}
