// $darker-blueish-gray: #434a54;
// $dark-blueish-gray: #656d78;
// $light-blueish-gray: #aab2bd;
// $lighter-blueish-gray: #f3f4f8;
// $darker-aquamarine: #48cfae;
// $evendarker-blueish-gray: #343a43;
:root {
  --darker-blueish-gray: #434a54;
  --dark-blueish-gray: #656d78;
  --light-blueish-gray: #aab2bd;
  --lighter-blueish-gray: #f3f4f8;
  --darker-aquamarine: #48cfae;
  --evendarker-blueish-gray: #343a43;
}
