.service {
  opacity: 0;
  .feat-i {
    color: var(--darker-aquamarine);
  }
  h3 {
    margin-bottom: 15px;
    margin-top: 5px;
    color: var(--darker-blueish-gray);
  }
  hr {
    text-align: center;
    margin: 0 auto;
    width: 10%;
  }
  p {
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: var(--dark-blueish-gray);
  }
}
